html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Acme', sans-serif;
    background-image: url(images/pexels-sam-kolder-2387877.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


/* header */

header {
    
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    margin-bottom: 50px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-bottom:50px;
}

section nav {
    display: flex;
    gap: 25px;
}

header nav a{
    text-decoration: none;
    color: white;
}

header nav a:hover{
    color: gray;
    text-decoration: underline;
}


.header-content {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 80%;
}

.header-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    align-items: stretch;
    filter: drop-shadow(0px 0px 5px black);
}

.header-title {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 25px;
    text-align: justify;
    margin: 15px 0;
}

.header-img {
    width: 300px;
    height:max-content;
    opacity: 80%;
    border-radius: 50px;
    box-shadow: 0px 0px 30px whitesmoke;
}

.btn-quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


@media (max-width: 1040px) {

    p {
        font-size: 18px;
        text-align: left;
    }

    .header-title {
        font-size: 35px;
    }
}

@media (max-width: 800px) {

    .nav-bar {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .header-content {
        flex-direction: column-reverse;
    }

    .header-img {
        width: 70%;
    }

}

/* body content */

.container-carousel {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.8);

    width: 40%;
}

/* carousel */

.carousel {
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 50px;
    width: 5%;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    color: rgb(104, 103, 103);
    background: linear-gradient(to left, transparent 0%, black 200%);
    z-index: 1;
}

.arrow-left:focus,
.arrow-right:focus {
    outline: none;
}

.arrow-left:hover{
    color: whitesmoke;
    background: linear-gradient(to left, transparent 0%, black 100%);
}

.arrow-right:hover {
    color: whitesmoke;
    background: linear-gradient(to right, transparent 0%, black 100%);
}

.arrow-right {
    right: 0;
    left: auto;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.planets-wrapper {
    overflow-x: auto;
    overflow: scroll;
    border: 5px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 10px 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.planets-wrapper::-webkit-scrollbar {
    display: none;
}

.planets {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.item {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
    
}

@media (max-width: 800px) {

    .carousel {
        max-width: 95%;
        padding: 0 20px;
    }

    h2 {
        width: 80%;
    }
}

/* quote */

.container-quotes,
.cta {
    background-color: rgba(0, 0, 0, 0.8);
    align-self: center;
    max-width: 800px;
    padding: 20px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.container-quotes p,
.cta a {
    color: white;
    max-width: 700px;
}


/* cta */




/* footer */

footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.odins-logo {
    width: 200px;
    filter: drop-shadow(1px 1px 10px rgb(119, 119, 119));
}

.odins-logo:hover {
    filter: drop-shadow(1px 1px 3px rgb(223, 147, 48));
}

